* {
    margin: 0;
    box-sizing: border-box;
}



/******Loading Spinner******/
#body-onload{
    background-color: black;
}
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.editCard {
    width: 29%;
}

#cards {
    border: 2px solid red;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.card {
    width: 39%;

    /*background-color: white;*/
}

#image-top {
    width: 100px;
    height: 100px;
}

#title {
    font-weight: bold;
}

#plot {
    color: red;
}